#

In [1]:
1+1

2

In [2]:
print ("Hallo")

Hallo

In [3]:
title="harry potter"

In [4]:
title

'harry potter'

In [5]:
print title

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(title)? (<ipython-input-5-fa6ab878516b>, line 1)

In [6]:
print (title)

harry potter

In [7]:
year=2014

In [8]:
year = 2014
print (year)

2014

In [9]:
type (year)

int

In [10]:
type (title)

str

In [11]:
year = 1997
price = 19.95
title = "Kenn ich"
keine_nummer= "123"

In [12]:
title + keine_nummer

'Kenn ich123'

In [13]:
3 > 2

True

In [14]:
4 ==4

True

In [15]:
5 <> 7

SyntaxError: invalid syntax (<ipython-input-15-2273042a59c0>, line 1)

In [16]:
5 != 7

True

In [17]:
numbers =[1, 2, 3]

In [18]:
for number in numbers:
    print (number)

1
2
3

In [20]:
for number in numbers:
    doppelt = number +2
    print (doppelt)

3
4
5

In [21]:
authors = ["Darwin", "Hawking", "Feynman", "Jemison"]

In [22]:
len(authors)

4

In [26]:
authors[1]

'Hawking'

In [27]:
authors_and_books = {"Jemison" : "wind", "darwin" : "origin", "hawking" : "universe"}

In [28]:
authors_and_books["darwin"]

'origin'

# Wetter
Code erklÃ¤rt das **Wetter**

In [39]:
# Der Kommentar zum wetterbericht
temp = 20
if temp >= 15:
    print("was auch immer")
elif temp <= 5:
    print("was anderes")
else:
    print("mittendrin")

was auch immer

In [40]:
%who

authors	 authors_and_books	 doppelt	 keine_nummer	 number	 numbers	 price	 temp	 title
year